@page-header-bgcolor: #283645;
@page-header-color: #ffffff;

.page-header {
  background-color: @page-header-bgcolor;
  /*background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-position-y: 259px;
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  color: @page-header-color;
  padding-top: 22px;
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
  }
}


