@page-header-bgcolor: #283645;
@page-header-color: #ffffff;

.page-header {
  z-index: 10;

  box-sizing: border-box;

  color: @page-header-color;

  //background-color: @page-header-bgcolor;
}

.page-header__wrapper .container {
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
}

@media (min-width: 660px) {

}
